/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
	box-sizing: boder-box;
}

@mixin vertical-align($top,$left) {
  position: absolute;
  top: $top;
  left: $left;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin ease-animation($time) {
	-webkit-transition: ease-in-out all $time;
	-moz-transition: ease-in-out all $time;
	-o-transition: ease-in-out all $time;
	transition: ease-in-out all $time;
}

@mixin no-user-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif !important;
}

body {
	background: #eeeeee;
}

h1 {
	font-size: 21px;
	text-align: center;
	margin-top: 30px;
}

.holder {
	width: 380px;
	height: 560px;
	margin: 40px auto;
	position: relative;
	border-radius: 5%;
}


.content {
	@extend .holder;
	background:white;
	position: absolute;
	top: 0;
	left: 0;
	padding: 5px;
}

.cover {
	@extend .holder;
	background: lightgrey;
	position: absolute;
	top: -9999px;
	padding: 30px;
	opacity: 0;
	left: 0;
	z-index: 2;
	@include ease-animation(1s);


	&.open {
		top: 0;
		opacity: 1;
	}

	.cover-close {
		display: block;
		cursor: pointer;
		float: right;
		color: darkgrey;
		font-weight: bold
	}

	#cover-content {
		padding: 30px 0 0 0;
		
		h3 {
			font-size: 30px;
			text-align: center;
			color: white;
			line-height: 60px;
		}

		h4 {
			text-align: center;
			font-weight: bold;
			font-size: 60px;
			line-height: 40px;
			margin-top: 20px;
		}

		&.high {
			h3, h4 {
				color: red;
			}
		} 
		&.low {
			h3, h4 {
				color: orange;
			}
		}
		&.correct {
			h3, h4 {
				color: green;
				font-weight: bold;
				font-size: 30px;
				line-height: 20px;
			}

		}

		img.success-image {
			width: 100%;
			max-width: 100%;
			margin-top: 30px;
		}

	}

}


.row {
	width: 80%; 
	margin: 40px auto;
	clear: left;
}

p.dots {
	font-size: 38px;
	color: lightgrey;
	text-align: center;
	margin: 10px 0 -20px;
	height: 30px;
}


.button {
	position: relative;
	border: 1px solid lightgrey;
	border-radius: 50%;
	float: left;
	width: 80px;
	height: 80px;
	margin: 0 15px 20px 0;
	@include ease-animation(0.3s);
	@include no-user-select;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:first-child {
		margin-left: 10px;
	}
	&:last-child {
		margin-right: 0
	}
	&:hover {
		cursor: pointer;
		-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
		-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.65);
		box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.65);
	}

	.button-content	{
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		@include vertical-align(45%,25%);
	}

	span.number {
		display: block;
		color: grey;
		font-size: 28px;
	}
	span.sub {
		display: block;
		color: grey;
		font-size: 16px;
		position: absolute;
		font-size: 11px;
		width: 50px;
		height: 20px;
		letter-spacing: 3px;
		text-align: center;
		@include vertical-align(100%,-6%);
	}
}

.touch .button:hover {
	&:hover {
		-webkit-box-shadow: none;
		-moz-box-shadow:    none;
		box-shadow:         none;
	}
}


.cancel {
	@extend .button;
	background: rgb(255, 200, 99);
	.number {
		color: white;
	}
}

input[type="submit"] {
	@extend .button;
	background: #91E381;
	font-size: 20px;
}

.row.bottom .button {

	.button-content {
		top: 55%;
	}
}

.button:active, .button:focus {
	background: rgb(131, 204, 117) !important;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.65);
}


@media (max-width: 480px) {
	body {
		background: white;
		height: 100%;
	}
	html {
		height: 100%;
	}
	.content {
		width: 100%;
		margin-top: 0;
		height: auto;
		border-radius: 0;
	}

	.cover {
		width: 100%;
		height: 100%;
		display: table;
		margin: 0;
		min-height: 560px;
		border-radius: 0px;
	}

	.holder {
		width: 100%;
		margin: 0 auto;
	}

	.row {
		width: 90%;
	}
}